* {
  text-align: center;
}
h1 {
  color: magenta;
  font-family: Verdana;
  font-weight: lighter;
  font-size: 48px;
}
h2 {
  color: gray;
}
p {
  color: gray;
}
small {
  color: black;
}
button {
	border: solid magenta 2px;
	width: 75px;
	height: 25px;
}
div {
	text-align: center;
}
a {
	color: inherit;
}
.dropdown {
	border: solid grey 1px;
	width: 100px;
	height: 25px;
	display:inline-block;
}