* {
  text-align: center;
}
h1 {
  color: magenta;
  font-family: Verdana;
  font-weight: lighter;
  font-size: 48px;
}
h2 {
  color: gray;
}
button {
  color: magenta;
}
p {
  color: gray;
}
small {
  color: black;
}
table {
	align: center;
}
tr: first-child {
  border-style: 1px solid gray;
}
